<div class="main-wrapper container">
  <nav class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="progress">
          <div class="progress-bar" role="progressbar"
               aria-valuenow="{{points}}" aria-valuemin="0" aria-valuemax="100"
               style="width: {{points}}%">
            <span class="pull-right">{{points}}% Complete</span>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="active-game" ng-hide="points == 100">
    <div class="row" ng-hide="wrongAnswer">
      <div class="image-container text-center"
           ng-repeat-start="item in rcgItems"
           ng-show="$index == currentItemIndex">
        <img ng-src="{{item.imageUrl}}"/>
      </div>

      <h3 class="text-center" ng-show="$index == currentItemIndex"
          ng-repeat-end>
        {{item.title}}
      </h3>
    </div>

    <div ng-hide="wrongAnswer" class="buttons row text-center" style="margin-top: 25px;">
      <button ng-click="pick('R', currentItem)"
              class="btn btn-lg btn-primary btn-circle">
        <span style="font-size: 2em;">&#x267B;</span>
      </button>
      <button ng-click="pick('C', currentItem)"
              class="btn btn-lg btn-success btn-circle">
        <span><img style="max-height: 2em;" src="/assets/images/apple-core.png" /></span>
      </button>
	  <button ng-click="pick('S', currentItem)"
              class="btn btn-lg btn-circle btn-special">
        <span><img style="max-height: 2em;" src="/assets/images/Special-Button.jpg" /></span>
      </button>
      <button ng-click="pick('G', currentItem)"
              class="btn btn-lg btn-default btn-circle">
        <span><img style="max-height: 2em;" src="/assets/images/trash.png" /></span>
      </button>
    </div>

    <div ng-show="wrongAnswer" class="text-center">
      <img ng-src="https://thumbs.dreamstime.com/x/angry-planet-earth-6653761.jpg"/>
      <p style="font-size: 24px; color: red;">Wrong!</p>
    </div>
  </div>

  <div class="jumbotron" ng-show="points == 100">
    <h1 class="text-center">Congratulations!</h1>
		<div class="buttons row text-center">
			<button ng-click="restart()" class="text-center">RESTART</button>
		</div>
  </div>
</div>
