body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  padding: 0;
  width: 100%;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.navbar {
  background: white;
  border: white;
}

.container-fluid .navbar-header {
  width: 100%;
  margin: 0;
  padding: 0;
}

.progres-bar {
  padding: 10px;
}

button {
  margin: 20px;
  width: 75px;
  height: 75px;
}

button:hover,
.glyphicon:hover {
  cursor: pointer;
}

.glyphicon-chevron-left:hover,
.glyphicon-chevron-right:hover {
  cursor: pointer;
  color: lightgrey;
}

button:last-child {
  background-color: grey;
  color: white;
}

.glyphicon {
  font-size: 32px;
}

.glyphicon-chevron-left {
  top: 250px;
  left: 0;
  position: absolute;
  font-size: 50px;
}

.glyphicon-chevron-right {
  top: 250px;
  right: 0;
  position: absolute;
  font-size: 50px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.image-container {
  height: 200px;
}

.image-container img {
  max-height: 200px;
  max-width: 80%;
  margin: 0 auto;
}

.active-game, .jumbotron {
  flex: 1;
}

.btn:focus, .btn:active, .btn:active:focus {
  outline: none;
}

.footer {
  padding: 1em 0;
  border-top: 1px solid gray;
}

.footer > p {
  position: relative;
  margin: 0 25%;
  text-align: center;
}

@media (max-width: 320px) { 
	.row {
		margin: 0;
	}

	button {
		margin: 0;
	}
	
	.buttons {
		bottom: 50px;
	}
}

.btn-circle {
  border-radius: 50%;
}
